/*通用属性*/
body{
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color:#666;
  margin:0px;
  padding:0px;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {
  margin:0px;
  padding:0px;
  border:none;
  list-style:none;
}
input {border:none;}

.lf {float:left;}
.rf {float:right;}
.clear {clear:both;}

img{
  vertical-align:bottom;
}

.clear:after{
	content:"";
	display:block;
	clear:both;
}
#top,#top_main,#nav,#banner,#main,#foot_box,#footer{
	width:1211px;
	margin:0 auto;
	}
	a{
	color:#666;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
body.fixed{
		height:100%;
		width:100%;
		overflow: hidden;
}
/***************页面登录框********************/
#login{
		height:768px;
		width:49px;
		position:fixed;
		background:#ddd;
		z-index:1000;
		float:left;
}
.arrow1{
		width:49px;
		height:50px;
		border:1px solid #ddd;
		border-radius:50%;
		position:absolute;
		top:400px;
		cursor: pointer;
}
.arrow1 img{
		width:100%;
}
div.login_main{
		width:0px;
		border:1px solid #ddd;
		box-shadow:15px 6px 16px 0px rgba(0,0,0,
		0.15), 0px 3px 8px 0px rgba(0,0,0,0.12);
		float:left;
		position:fixed;
		height:768px;
		z-index: 1000;
		left:49px;
		background-color:#fff;
		transition:all 0.1s linear;
		overflow: hidden;

}
div.login_main1{
		width:390px;
}
div.login_main>h2{
		margin-left:135px;
		margin-top:100px;
		color:#B1B5BF;
		font-weight:normal;
}
div.login_main>form>input.common{
		height:30px;
		padding-left:20px;
		outline:none;
		border:1px solid #ddd;
		width:230px;
		margin-left:100px;

}
#uname{
		background: url(images/123124.png) no-repeat 0px 5px;
}
#upwd{
		background: url(images/6767.png) no-repeat 0px 5px;
}
div.login_main>p{
		margin:50px 0px 5px 100px;
		font-size:16px;
}
#btn{
		margin-top:40px;

}
#btn>p{
		display:inline-block;
		width:100px;
		height:50px;
		float:right;
		position:relative;
}
#btn>p>span{
		position:absolute;
		top:5px;
		font-size: 14px;
		left:-50px;
}
#btn>p>a{
		display:inline-block;
		width:60px;
		height:26px;
		border:1px solid #ddd;
		border-radius:15px;
		padding-top:5px;
		position:relative;
		background-color: #fe6365;
}
#btn>p>a.slide-color{
		background-color: #56ffe3;
}
#btn>p>a>i {
		display: inline-block;
		width:18px;
		height:18px;
		border:1px solid #ddd;
		border-radius:50%;
		position: absolute;
		top:5px;
		left:10px;
		background-color:#fff;
		z-index:10;
		transition:all 0.2s linear;
}
#btn>p>a>i.slide{
		left:35px;
}
#btn>p>a>b.close{
		position:absolute;
		left:40px;
		top:10px;
		color:#fff;
		font-size:15px;
		display:inline-block;
		width: 12px;
		height: 10px;
		background: url(images/spri_01.svg) no-repeat -430px -178px;
}
#btn>p>a>b.open{
		position:absolute;
		left:15px;
		top:10px;
		color:#fff;
		font-size:15px;
		display:inline-block;
		width: 12px;
		height: 10px;
		background: url(images/spri_01.svg) no-repeat -452px -178px;
}
#btn2{
		width:300px;
		height:60px;
		border:1px solid #2b2b2f;
		outline: none;
		border-radius:15px;
		background-color:#fff;
		position:absolute;
		top:430px;
		left:45px;
		font: 16px "microsoft yahei", Arial, Helvetica, sans-serif;
}
#btn2:hover{
		background-color: #90f0e0;
		border:none;
		box-shadow:0px 3px 8px 0px rgba(0,0,0,0.12), 0px 6px 16px 0px rgba(0,0,0,
		0.15);
}
p.remember{
		display:inline-block;
		border-bottom:3px solid #90f0e0;
		position:absolute;
		top:520px;
		left:160px;
		font-size:16px;
}
p.remember:hover{
		color: #25bdc8;
}
div.login_line{
		display:inline-block;
		width:280px;
		border-bottom:1px solid #ddd;
		position:relative;
		top:165px;
		left:50px;
}
div.login_line>span{
		font-size:20px;
		position:absolute;
		top:-15px;
		left:130px;
}
div.other{
		width:200px;
		height:50px;
		display:inline-block;
		position:relative;
		top:180px;
		left:80px;
		margin:0 auto;
}
div.other>a{
		display:inline-block;
		width:40px;
		height:40px;
		border:1px solid #ddd;
		border-radius:50%;
		background-color: #26adff;
		margin-left:20px;
}
div.other>a>i{
		display:inline-block;
		width:40px;
		height:40px;
		background: url(images/spri_01.svg) no-repeat 10px -260px;
}
div.other>a:nth-child(2) i{
		background: url(images/spri_01.svg) no-repeat -90px -260px;

}
div.other>a:nth-child(3) i{
		background: url(images/spri_01.svg) no-repeat -37px -260px;

}
/***************注册*******************/
div.zhuce{
		width:392px;
		min-height:50px;
		position: relative;
		bottom:-180px;

}
div.zhuce p{
		font-size:14px;
		text-align:center;
}
div.zhuce a{
		font-size:18px;
		display:inline-block;
		width:300px;
		height:40px;
		background:#333;
		text-align:center;
		line-height: 40px;
		position:absolute;
		top:50%;
		left:50%;
		transform: translatex(-50%);
		color:#ddd;

}
div.zhuce a:hover{
		text-decoration:none;
		color:#90f0e0;
}
/************注册页面*********************/
div.regist_main{
		width:390px;
		border:1px solid #ddd;
		box-shadow:15px 6px 16px 0px rgba(0,0,0,
		0.15), 0px 3px 8px 0px rgba(0,0,0,0.12);
		float:left;
		position:fixed;
		height:768px;
		z-index: 1000;
		left:49px;
		background-color:#fff;
		transition:all 0.1s linear;
		overflow: scroll;
}
div.regist_main>h2{
		color:rgba(99, 107, 128, 0.498039);
		position:absolute;
		left:50%;
		transform:translatex(-50%);
		margin-top:110px;
		font-weight:normal;

}
div.regist_main>form{
		width:282px;
		height:466px;
		position:absolute;
		left:50%;
		transform:translatex(-50%);
		margin-top:150px;
}
div.regist_main>form>p{
		display:inline-block;
		font-size: 14px;
		margin-top:20px;
}
div.regist_main>form>span{
		color:rgba(99, 107, 128, 0.498039);
		margin-left:10px;
		margin-top:20px;
}
div.regist_main>form>input{
		outline:none;
		border:1px solid #F6F7F8;
		border-radius:5px;
		height:40px;
		width:256px;
		margin-top:10px;
		padding-left: 33px;
		position:relative;
}
div.regist_main>form>input.special_upwd{
		width:130px;
}
div.regist_main>form>span.get_pwd{
		color:#000;
		margin-left:10px;
		font-size:16px;
		box-shadow: 0 -6px 0 #B4E7F8 inset;
}
i.icon1{
			display:inline-block;
			width:20px;
			height:20px;
			position:absolute;
			z-index:2;
			left:5px;
			top:60px;
			background: url(images/spri_01.svg) no-repeat -254px -172px;
	}
i.icon2{
		display:inline-block;
		width:20px;
		height:20px;
		position:absolute;
		z-index:2;
		left:5px;
		top:154px;
		background: url(images/spri_01.svg) no-repeat -284px -172px;
}
i.icon3{
		display:inline-block;
		width:20px;
		height:20px;
		position:absolute;
		z-index:2;
		left:5px;
		top:246px;
		background: url(images/spri_01.svg) no-repeat -284px -172px;
}
i.icon4{
		display:inline-block;
		width:20px;
		height:20px;
		position:absolute;
		z-index:2;
		left:5px;
		top:340px;
		background: url(images/spri_01.svg) no-repeat -284px -172px;
}
#btn3{
		padding:0px;
		background-color:#fff;
		width:291px;
		border:1px solid #000;
		height:48px;
		font-family: "microsoft yahei";
}
div.line1{
		width:390px;
		border-bottom:1px solid #ddd;
		bottom:155px;
		position:absolute;

}
div.regist_main>h3{
		position:absolute;
		left:50%;
		transform: translatex(-50%);
		bottom:120px;
}
div.regist_main>a.login{
		display:inline-block;
		width:291px;
		height:48px;
		border:1px solid #000;
		border-radius:5px;
		position:absolute;
		bottom:40px;
		left:50%;
		transform: translatex(-50%);
		line-height:48px;
		text-align: center;
		color:#000;
}
div.regist_main>h4{
		position:absolute;
		width:216px;
		bottom:-5px;
		left:50%;
		transform: translatex(-50%);
		color:rgba(99, 107, 128, 0.498039);
}
div.regist_main>a.xieyi{
		bottom:-30px;
		font-size:14px;
		box-shadow: 0 -6px 0 #B4E7F8 inset;
		position:absolute;
		left:50%;
		transform: translatex(-50%);
}
div.regist_main>a.login:hover{
		background-color: #90f0e0;
		border:none;
		text-decoration: none;
		box-shadow:0px 3px 8px 0px rgba(0,0,0,0.12), 0px 6px 16px 0px rgba(0,0,0,
		0.15);
}
/*js动态获取状态*/
div.txt_blur1{
		font-size:18px;
		width:234px;
		color:rgba(99, 107, 128, 0.498039);
		position:absolute;
		left:50%;
		transform: translatex(-50%);
		top:60px;

}
div.txt_blur2{
	font-size:18px;
	width:130px;
	color:rgba(99, 107, 128, 0.498039);
	position:absolute;
	left:50%;
	transform: translatex(-50%);
	top:80px;

}
div.txt_lose{
	display:none;
}
 b.vali_success{
	display:inline-block;
	position:absolute;
	top:60px;
	left:305px;
	width:15px;
	height:14px;
	background: url(images/spri_01.svg) no-repeat -163px -30px;
}
div.regist_main div.vali_fail{
	color: rgba(255, 0, 0, 0.59);
}

span.same{

		position:absolute;
		top:281px;
		left:145px;
}
div.check_name{
	font-size:18px;
	color:rgba(255, 0, 0, 0.59);
	position:absolute;
	left:50%;
	transform: translatex(-50%);
	top:140px;

}
/**************页面顶部**************/
#top img{
	max-height:44px;
	margin-top:5px;
}
#top>ul>li{
	float:left;
	margin:27px 50px 0 0;
	font-size:14px;
	font-weight:bold;
}
#top ul li b{
	border-left:1px solid #ddd;
	margin-right:50px;
}
/*设置专题样式*/
li.main_topic{
	position:relative;
	padding-bottom:20px;
}
li.main_topic {
 
 padding-right:20px;
 background:url(Images/jt_down.jpg) no-repeat right 8px;
}
li.main_topic:hover{
	background:url(images/jt_up.jpg) no-repeat right 8px;
}
/*设置当鼠标移入到li.main_topic上时，找到其子级#topic_pop ,并且显示*/
li.main_topic:hover #topic_pop{
	display:block;
}
/*设置社区样式*/
li.community{
 padding-right:20px;
 background:url(Images/jt_down.jpg) no-repeat right 8px;
 position:relative;
 padding-bottom:20px;
}
li.community:hover{
	background:url(images/jt_up.jpg) no-repeat right 8px;
}
li.community:hover #community_pop{
	display:block
}
/*设置主机分类样式*/
li.pick{
 padding-right:20px;
 background:url(Images/jt_down.jpg) no-repeat right 8px;
 position:relative;
 padding-bottom:20px;
}
li.pick:hover{
 	background:url(images/jt_up.jpg) no-repeat right 8px;
}
li.pick:hover #pick_pop{
	display:block;
}
/*设置app的样式*/
li.appli {
 padding-right:20px;
 background:url(Images/jt_down.jpg) no-repeat right 8px;
 padding-bottom:20px;
 position:relative;
}
li.appli:hover{
	background:url(images/jt_up.jpg) no-repeat right 8px;
}
li.appli:hover #appli_pop{
	display:block;
}
/****弹出菜单样式****/
#topic_pop{
	width:340px;
	min-height:200px;
	box-sizing:border-box;
	border:1px solid #ddd;
	border-top:2px solid #157E91;
	position:absolute;
	left:-150px;
	top:30px;
	background-color:#fff;
	display:none;
	z-index:10;
}
#topic_pop li{
	margin:10px;
	color:#727779;
}
/*设置弹出框首栏样式:栏目和专题*/
#topic_pop li.lanmu{
	width:312%;
	padding-bottom:15px;
	padding-top:10px;
	border-bottom:1px  solid #ddd;
}
#topic_pop li.zhuanti{
	padding-bottom:15px;
	padding-top:10px;
	border-bottom:1px  solid #ddd;

}
/***设置社区弹出样式*/
#community_pop{
	width:200px;
	min-height:200px;
	box-sizing:border-box;
	border:1px solid #ddd;
	border-top:2px solid #157E91;
	position:absolute;
	left:-80px;
	top:30px;
	display:none;
	background-color:#fff;
	z-index:10;
}
#community_pop li{
	margin:10px;
	text-align:left;
	color:#727779;
}
/*****设置主机分类弹出菜单样式***********/
#pick_pop{
	width:110px;
	min-height:50px;
	box-sizing:border-box;
	border:1px solid #ddd;
	border-top:2px solid #157E91;
	position:absolute;
	left:20px;
	top:30px;
	background-color:#fff;
	display:none;
	z-index:10;
}
#pick_pop li{
	margin:10px;
	text-align:center;
	color:#727779;
}
/*****设置应用弹出菜单样式*****/
#appli_pop{
	width:150px;
	min-height:50px;
	box-sizing:border-box;
	border:1px solid #ddd;
	border-top:2px solid #157E91;
	position:absolute;
	left:20px;
	top:30px;
	display:none;
	background-color:#fff;
	z-index:10;
}
#appli_pop li{
	margin:10px;
	text-align:left;
	color:#727779;
}
#banner{
	position:relative;
	margin:0 auto;
}
#banner>div.slide_img>ul>li:nth-child(2).slide_banner{
		left:0;
}
#banner>div.slide_img>ul>li:nth-child(3).slide_banner{
		left:0;
}
#banner>div.slide_img>ul>li:nth-child(4).slide_banner{
		left:0;
}
#banner>div.slide_img>ul>li:nth-child(5).slide_banner{
		left:0;
}
#banner>div.slide_img{
		display:inline-block;
		width:800px;
		height:500px;
		float:left;
		box-shadow: 5px 10px 8px 0px rgba(0,0,0,0.12), 0px -5px 16px 0px rgba(0,0,0,
		0.15);
}
#banner>div.slide_img>ul{
		width:4020px;
		position:relative;
		overflow: hidden;

}
#banner>div.slide_img>ul>li:nth-child(2){
		float:left;
		position:absolute;
		left:-485px;
		transition: all 0.5s linear;
		/*left:0;*/
}
/*设置图片上小标签*/
#banner span.img1{
		padding-left:15px;
		padding-top:20px;
		background:#00EEFF;
		position:absolute;
		top:450px;
		/*left:560px;*/

}
#banner>div.slide_img>ul>li:nth-child(1)>h1{
		 position:absolute;
		 top:380px;
		 font-size:25px;
		 font-weight: normal;
		 left:320px;
		 color:#fff;
 }
#banner>div.slide_img>ul>li:nth-child(1)>p{
		position:absolute;
		font-size:15px;
		top:425px;
		left:345px;
		color:#fff;
}
#banner>div.slide_img>ul>li:nth-child(2)>h1{
		position:absolute;
		top:380px;
		font-size:25px;
		font-weight: normal;
		left:300px;
		color:#fff;
}
#banner>div.slide_img>ul>li:nth-child(2)>p{
		position:absolute;
		font-size:15px;
		top:425px;
		left:320px;
		color:#fff;
}
#banner span.img2{
		padding-left:20px;
		padding-top:30px;
		background:#00EEFF;
		position:absolute;
		top:450px;
		left:781px;
}
#banner>div.slide_img>ul>li:nth-child(3){
		 float:left;
		 position:absolute;
		 left:-545px;
		transition: all 0.5s linear;
		 /*left:0;*/
 }
#banner>div.slide_img>ul>li:nth-child(3)>h1{
		position:absolute;
		top:380px;
		font-size:25px;
		font-weight: normal;
		left:260px;
		color:#fff;
}
#banner>div.slide_img>ul>li:nth-child(3)>p{
		position:absolute;
		font-size:15px;
		top:425px;
		left:270px;
		color:#fff;
}
#banner>div.slide_img>ul>li:nth-child(4){
		float:left;
		position:absolute;
		left:-605px;
		transition: all 0.5s linear;
		/*left:0;*/
}
#banner>div.slide_img>ul>li:nth-child(4)>h1{
		position:absolute;
		top:380px;
		font-size:25px;
		font-weight: normal;
		left:300px;
		color:#fff;
}
#banner>div.slide_img>ul>li:nth-child(4)>p{
		position:absolute;
		font-size:15px;
		top:425px;
		left:330px;
		color: #fff;
}
#banner>div.slide_img>ul>li:nth-child(5){
		float:left;
		position:absolute;
		left:-670px;
		transition: all 0.5s linear;
		/*left:0;*/
}
#banner>div.slide_img>ul>li:nth-child(5)>h1{
		position:absolute;
		top:380px;
		font-size:25px;
		font-weight: normal;
		left:80px;
		color:#fff;
}
#banner>div.slide_img>ul>li:nth-child(5)>p{
		position:absolute;
		font-size:15px;
		top:425px;
		left:100px;
		color: #fff;
}
#banner img{
	float:left;
		border:1px solid #ddd;
		box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.12), 0px 6px 16px 0px rgba(0,0,0,
		0.15);
}


/*设置登录导航栏*/
#nav{
	width:300px;
	min-height:300px;
	background-color:#161616;
	padding:20px;
	position:relative;
	left:10px;
}
#nav ul{
	margin-top:60px;
}
#nav li{
	float:left;
	padding:30px 0;
	font-size:14px;
	width:50%;
	border-top:1px dashed #ddd;
	
}
#nav div{
	text-align:right;
	margin-top:30px;
}
#nav>ul>li:nth-child(even){
	text-align:right;
}
/*登录注册样式*/
#nav>div>b{
	border-left:5px solid #003B40;
	padding-right:10px;
}
#nav>div>a.zhuce{
	margin-left:-5px;
	margin-right:-20px;
}
#nav>div>a{
	margin-left:10px;
	font-size:16px;
}
/*登录右侧logo*/
#nav>div>div.pic{
	float:right;
	width:36px;
	height:45px;
	color:#333333;
	background:url(Images/sign_img.png) no-repeat right 8px;
	position:relative;
	top:-45px;
	left:20px;
}
/*页面主体部分*/
#main>p{
	float:left;
	padding:0 15px 0 15px;
	border-bottom:3px solid #EA5506;
	font-size:14px;
	color:#EA5506;
}
#main div.line{
	float:left;
	width:1017px;
	border-bottom:3px solid #404042;
	margin-top:18.5px;
}
#main_pic{
	padding-top:40px;
}
#main_pic>div{
	width:285px;
	height:175px;
	float:left;
	position:relative;
}
#main_pic img{
	width:285px;
	height:175px;
	margin:-2px -2px -2px 0;	
}
#main_pic div:hover img{
	width:295px;
	height:185px;
	z-index:35;
	transition:all 0.2s ease;
	position:absolute;
	box-shadow: 0px 0px 10px 0px #000;
}
#main_pic img.down_pic:hover{
	z-index:20;
}
/*图片文字样式*/
#main_pic span{
	position:absolute;
	top:150px;
	left:15px;
	font-size:14px;
	color:#fff;
	z-index:40;
}
#main_pic b{
	display:inline-block;
	height:30px;
	width:50px;
	background:#00A3AF;
	position:absolute;
	top:-2px;
	left:30px;
	z-index:40;
	line-height:30px;
	text-align:center;
	font-size:14px;
	color:#FFFFFF;
}
#main_pic p.shadow{
	width:285px;
	height:28px;
	border-bottom:none;
	display:inline-block;
	position:absolute;
	top:145px;
	left:-3px;
	z-index:30;
	background-color:#000;
	opacity:0.4;
	
}
#main_pic div:hover p.shadow{
	width:295px;
	height:39px;
	transition:all 0.1s linear;
	z-index:35;
}
/*评测新闻样式*/
#p75{
	margin-top:30px;
	height:700px;
}
#pingce{
	display:inline-block;
	float:left;
}
#test{
	background-color:#404042;
	width:435px;
	position:relative;
	margin-top:10px;
	cursor:pointer;
	height:3px;
}
#color_line{
	width:100px;
	height:3px;
	background-color:#00A3AF;
	transition:all .2s linear;
	position:absolute;
	right:336px;
}
 div.container:hover #color_line{
	width:0px;
}
#p75 h1{
	color:#00A3AF;
	cursor:pointer;
	font-size:14px;
}
#p75 h1:hover{
	color:#404042;
}
#d1{
	width:434px;
}
.test_pic{
	width:217px;
	height:136px;
	margin-top:25px;
	position:relative;
	float:left;
}
.test_pic img{
	width:100%;
}
.test_pic b{
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	width:217px;
	height:136px;
	opacity:0.2;
	
}
.test_pic:hover b{
	opacity:0;
}
.test_pic span{
	font-size:14px;
	color:#fff;
	position:absolute;
	top:95px;
	left:10px;
	transition:all .2s ease;
}
.test_pic:hover span{
	color:#00EEFF;
}
.test_pic1{
	width:217px;
	height:136px;
	margin-top:25px;
	position:relative;
	float:left;
	display:inline-block;
}
.test_pic1>img{
	width:100%;
}
.test_pic1 b{
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	width:217px;
	height:136px;
	opacity:0.2;
}
.test_pic1:hover b{
	opacity:0;
}
.test_pic1 span{
	font-size:14px;
	color:#fff;
	position:absolute;
	top:95px;
	left:10px;
	transition:all .2s ease;
}
.test_pic1:hover span{
	color:#00EEFF;
}
.test_pic2{
	width:217px;
	height:136px;
	position:relative;
	float:left;
}
.test_pic2 img{
	width:100%;
}
.test_pic2 b{
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	width:217px;
	height:136px;
	opacity:0.2;
}
.test_pic2:hover b{
	opacity:0;
}
.test_pic2 span{
	font-size:14px;
	color:#fff;
	position:absolute;
	top:95px;
	left:10px;
	transition:all .2s ease;
}
.test_pic2:hover span{
	color:#00EEFF;
}
.test_pic3{
	width:217px;
	height:136px;
	position:relative;
	float:left;
}
.test_pic3 img{
	width:100%;
}
.test_pic3 b{
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	width:217px;
	height:136px;
	opacity:0.2;
}
.test_pic3:hover b{
	opacity:0;
}
.test_pic3 span{
	font-size:14px;
	color:#fff;
	position:absolute;
	top:95px;
	left:10px;
	transition:all .2s ease;
}
.test_pic3:hover span{
	color:#00EEFF;
}
#news{
	display:inline-block;
	margin-left:40px;
}
#color_line1{
	width:100px;
	height:3px;
	background-color:#00A3AF;
	transition:all .2s linear;
	position:absolute;
	right:420px;
}
div.container:hover #color_line1{
	width:0px;
}
#d2{
	float:left;
	width:550px;
	margin-left:40px;
	margin-top:25px;
	position:relative
}
#d3{
	height:75px;
	width:250px;
	float:left;
		border:1px solid #ddd;
}
div.news_pic{
	float:left;
	width:120px;
	height:75px;
	position:relative;
}
.news_pic img{
	width:100%;
}
.news_pic b{
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:76px;
	opacity:0.2;

}
.shadow:hover{
		box-shadow:0px 3px 8px 0px rgba(0,0,0,0.12), 0px 6px 16px 0px rgba(0,0,0,
		0.15); ;
}
#d3:hover b{
	opacity:0;
}
#d3 span{
	display:inline-block;
	width:120px;
	margin-left:10px;
	color:#333;
	transition:all .2s ease;
}
#d3:hover span{
	color:#00a3af
}
#d3>p{
 position:absolute;
 top:60px;
 right:305px;
 color:#D0D0D0;
 transition:all .2s ease;
}
#d3:hover p{
	color:#333;
}
#d4{
	float:left;
	width:250px;
	height:75px;
	position:relative;
	margin-left:10px;
		border:1px solid #ddd;
}

#d4 span{
	display:inline-block;
	width:120px;
	margin-left:10px;
	color:#333;
	transition:all .2s ease;
}
#d4>p{
	position:absolute;
 top:60px;
 right:0px;
 color:#D0D0D0;
 transition:all .2s ease;
}
#d4:hover b{
	opacity:0;
}
#d4:hover span{
	color:#00a3af
}
#d4:hover p{
	color:#333;
}
#d5{
	float:left;
	width:250px;
	height:75px;
	position:relative;
	margin-top:30px;
		border:1px solid #ddd;
}
#d5 span{
	display:inline-block;
	width:120px;
	margin-left:10px;
	color:#333;
	transition:all .2s ease;
}
#d5>p{
	position:absolute;
	top:60px;
	right:0px;
  color:#D0D0D0;
  transition:all .2s ease;
}
#d5:hover b{
	opacity:0;
}
#d5:hover span{
	color:#00a3af
}
#d5:hover p{
	color:#333;
}
#d6{
	float:left;
	width:250px;
	height:75px;
	position:relative;
	margin-top:30px;
	margin-left:10px;
		border:1px solid #ddd;
}
#d6 span{
	display:inline-block;
	width:120px;
	margin-left:10px;
	color:#333;
	transition:all .2s ease;
}
#d6>p{
	position:absolute;
	top:60px;
	right:0px;
  color:#D0D0D0;
  transition:all .2s ease;
}
#d6:hover b{
	opacity:0;
}
#d6:hover span{
	color:#00a3af
}
#d6:hover p{
	color:#333;
}
#d7{
	float:left;
	width:250px;
	height:75px;
	position:relative;
	margin-top:30px;
		border:1px solid #ddd;
}
#d7 span{
	display:inline-block;
	width:120px;
	margin-left:10px;
	color:#333;
	transition:all .2s ease;
}
#d7>p{
	position:absolute;
	top:60px;
	right:0px;
  color:#D0D0D0;
  transition:all .2s ease;
}
#d7:hover b{
	opacity:0;
}
#d7:hover span{
	color:#00a3af;
}
#d7:hover p{
	color:#333;
}
#d8{
	float:left;
	width:250px;
	height:75px;
	position:relative;
	margin-top:30px;
	margin-left:10px;
		border:1px solid #ddd;
}
#d8 span{
	display:inline-block;
	width:120px;
	margin-left:10px;
	color:#333;
	transition:all .2s ease;
}
#d8>p{
	position:absolute;
	top:60px;
	right:0px;
  color:#D0D0D0;
  transition:all .2s ease;
}
#d8:hover b{
	opacity:0;
}
#d8:hover span{
	color:#00a3af
}
#d8:hover p{
	color:#333;
}
#gonglue{
	float:right;
	width:295px;
	min-height:500px;
	background-color:#212121;
	position:absolute;
	top:1027px;
	left:1184px;
	border:1px solid #333;
	cursor:pointer;
}
#gonglue h2{
	margin-top:23px;
	margin-left:20px;
	color:#00A3AF;
}
#gonglue div.special{
	right:195px;
}
#gonglue1:hover div.special{
	width:0px;
}
#gonglue1:hover h2{
	color:#C0C0C2;
}
#gonglue2 li{
	padding:10px 0px ;
}
#gonglue2 div{
	background-image:linear-gradient(to bottom,#333,#2B2B2B);
	position:relative
}
#gonglue2>li>div>span{
	color:#fff;
	position:absolute;
	top:-10px;
	right:-10px;
	margin:10px 10px;
	padding-top:0px;
	padding-left:10px;
	display:inline-block;
	background-color:#00A3AF;
	width:184px;
	height:0px;
	transition:all .3s linear;
	z-index:10;
}
#gonglue2 li:hover span{
	height:52px;
	padding-top:10px;
}
#gonglue2 b{
	display:inline-block;
	margin-top:15px;
}
#d10{
	float:left;
	width:434px;
	min-height:75px;
	position:relative;
	top:65px;
	right:440px;
}
#d11{
	float:left;
	width: 550px;
	margin-left: 40px;
	margin-top: 25px;
	position: relative;
	bottom:246px;
	left:435px;
}
#video{
	width:998px;
	height:500px;
	margin-top:95px;
}
div.video_bar{
	height:50px;
	position:relative;
	background-image:linear-gradient(to bottom,#333,#313231,#232323);
}
#video>div>p{
	height:50px;
	width:150px;
	line-height:50px;
	text-align:center;
	color:#eee;
	font-size:16px;
	position:absolute;
	left:0px;
	background-color:#000000;
}
#video>div>p>b{
	display:inline-block;
	position:absolute;
	top:11px;
	left:17px;
	width:23px;
	height:25px;
	background-image:url(images/tubiao.png);
	background-repeat:no-repeat;
}
div.video_pic{
	width:300px;
	height:166px;
	position:relative;
}
div.video_pic>img{
	width:250px;
	height:165px;
	position:absolute;
	top:0px;
	left:0px;
	cursor:pointer;
}
div.video_pic>h2{
	color:#eee;
	z-index:3;
	position:absolute;
	top:135px;
	left:10px;
	font-size:14px;
	
}
div.video_pic>b{
	display:block;
	width:40px;
	height:30px;
	background-color:#EA5506;
	position:absolute;
	z-index:3;
	color:#eee;
	text-align:center;
	line-height:30px;
	left:50px;
}
#paihang{
		width:295px;
		min-height:646px;
		background-color:#212121;
		position:absolute;
		top:1856px;
		left:1184px;
		border:1px solid #333;
		cursor:pointer;
}
#paihang>div.paihang1{
		background-color: #404042;
		width:295px;
		height:55px;
		color:#eee;
		line-height:55px;
		position:relative;
}
#paihang>div.paihang1>b{
		display:inline-block;
		position: absolute;
		width:15px;
		height:20px;
		background-color:#EA5506;
		top:17px;
}
#paihang>div.paihang1>p{
		display:inline-block;
		position:relative;
		left: 30px;
		font-size:18px;
}
#paihang>ul>li{
		width:295px;
		height:40px;
		background-image:linear-gradient(to bottom,#333,#2A2A2A,#262626);
		position: relative;
}
#paihang>ul>li>span{
		color:#eee;
		font-size:16px ;
		line-height:35px;
		float:left;
		position:absolute;
		left:50px;
		margin-left:10px;
}
div.arrow{
		float:left;
		position: relative;
}
div.arrow>div{
		display:inline-block;
		width:30px;
		height:40px;
		background:#EA5506;
		color:#333;
		text-align:center;
		line-height:40px;
		font-size: 16px;
}
div.arrow>p{
		border:20px  solid transparent;
		border-left:22px solid #EA5506;
		border-right-width:50px;
		position:absolute;
		left:30px;
		top:0px;
		font-weight:bold;
}
div.video1{
		display:inline-block;
		width:380px;
		position:relative;
		margin-top:10px;
		border:1px solid #ddd;
}
div.video1:hover{
		box-shadow:0px 3px 8px 0px rgba(0,0,0,0.12), 0px 6px 16px 0px rgba(0,0,0,
		0.15);
}

div.video1>div{
	 width:190px;
	 height:120px;
	 float:left;
}
div.video1>div>img{
	 width:100%
}
div.video1>div>h2{
	  width:170px;
		font-size: 15px;
		font-weight:normal;
		margin-top:15px;
		margin-left:15px;
		transition: all .5s linear;
}
div.video1>div>span{
		margin-top:50px;
		margin-left:15px;
		display: inline-block;
		color:#333;
		transition: all .5s linear;
}
div.video1>div>b{
		display: inline-block;
		border:10px  solid transparent;
		border-right:15px solid #ddd;
		border-left-width:50px;
		position:absolute;
		top:50px;
		left:125px;
}
div.video1>div.bgColor{
		height:0px;
		transition: all .5s linear;
		background-image:linear-gradient(to bottom,#fff,#eee,#ddd);
		margin-top:-1px;
}
div.video1:hover div.bgColor{
		height:120px;
}
div.video1:hover b{
		color:#00A3A;
}
#culture{
		width:998px;
		height:500px;
		margin-top:150px;
}
#culture>div>p{
		height:50px;
		width:150px;
		line-height:50px;
		text-align:center;
		color:#eee;
		font-size:16px;
		position:absolute;
		left:0px;
		background-color:#000000;
}
#paihang_ps4{
		width:295px;
		min-height:646px;
		background-color:#212121;
		position:absolute;
		top:2504px;
		left:1184px;
		border:1px solid #333;
		cursor:pointer;
}
#paihang_ps4>div.paihang1{
		background-color: #404042;
		width:295px;
		height:55px;
		color:#eee;
		line-height:55px;
		position:relative;
}
#paihang_ps4>div.paihang1>b{
		display:inline-block;
		position: absolute;
		width:15px;
		height:20px;
		background-color: #0091f8;
		top:17px;
}
#paihang_ps4>div.paihang1>p{
		display:inline-block;
		position:relative;
		left: 30px;
		font-size:18px;
}
#paihang_ps4>ul>li{
		width:295px;
		height:40px;
		background-image:linear-gradient(to bottom,#333,#2A2A2A,#262626);
		position: relative;
}
#paihang_ps4>ul>li>span{
		color:#eee;
		font-size:16px ;
		line-height:35px;
		float:left;
		position:absolute;
		left:50px;
		margin-left:10px;
}
#gonglue4{
		width:998px;
		height:646px;
		margin-top:150px;
}
#gonglue4>div>p{
		height:50px;
		width:150px;
		line-height:50px;
		text-align:center;
		color:#eee;
		font-size:16px;
		position:absolute;
		left:0px;
		background-color:#000000;
}
#paihang_xbox{
		width:295px;
		min-height:646px;
		background-color:#212121;
		position:absolute;
		top:3152px;
		left:1184px;
		border:1px solid #333;
		cursor:pointer;
}
#paihang_xbox>div.paihang1{
		background-color: #404042;
		width:295px;
		height:55px;
		color:#eee;
		line-height:55px;
		position:relative;
}
#paihang_xbox>div.paihang1>b{
		display:inline-block;
		position: absolute;
		width:15px;
		height:20px;
		background-color: #00e487;
		top:17px;
}
#paihang_xbox>div.paihang1>p{
		display:inline-block;
		position:relative;
		left: 30px;
		font-size:18px;
}
#paihang_xbox>ul>li{
		width:295px;
		height:40px;
		background-image:linear-gradient(to bottom,#333,#2A2A2A,#262626);
		position: relative;
}
#paihang_xbox>ul>li>span{
		color:#eee;
		font-size:16px ;
		line-height:35px;
		float:left;
		position:absolute;
		left:50px;
		margin-left:10px;
}
/*#foot_box{*/
		/*min-height:200px;*/
/*}*/
#foot_box>div.foot_logo{
		line-height:100px;
		height:100px;
		width:1295px;
		background-color: #676769;
		position:relative;
}
#foot_box>div.foot_logo>div>img{
		vertical-align: middle;
		margin-left:50px;
}

div.foot_logo>b{
		display:block;
		float:left;
		height:50px;
		border:2px solid #000;
		position:absolute;
		top:50%;
		left:380px;
		transform:translatey(-50%);
}
div.foot_logo>span{
		color:#fff;
		position:relative;
		left:20px;
}
div.foot_logo>i{
		display:inline-block;
		position:absolute;
		left:39%;
		top:50%;
		transform:translatey(-50%);
		width:26px;
		height:26px;
		background:url(images/x.png) no-repeat;
}
div.foot_logo>img{
		vertical-align: middle;
		position:relative;
		left:80px;
}
div.foot_logo>span.s1{
		left:80px;
		position:relative;
}
div.scan{
		width:1295px;
		height:250px;
		background-color:#333;
		position:relative;
}

div.scan>div.move_left>img{
		width:100px;
		height:100px;
		position:absolute;
		left:20%;
		top:50%;
		transform: translatey(-50%);
}
div.scan>div.move_left>span{
		color:#fff;
		position:absolute;
		top:30%;
		left:29%;
		font-size:16px;
}
div.scan>div.move_left>div.line{
		display:inline-block;
		width:100px;
		border:2px solid #00c5d1;
		position:absolute;
		top:40%;
		left:29%;
}
div.scan>div.move_left>a{
		color:#fff;
		position:absolute;
		top:60%;
		left:29%;
}
div.move_right>img{
		width:100px;
		height:100px;
		position:absolute;
		left:40%;
		top:50%;
		transform: translatey(-50%);
}
div.move_right>span{
		color:#fff;
		position:absolute;
		top:30%;
		left:49%;
		font-size:16px;
}
div.move_right>div.line{
		display:inline-block;
		width:100px;
		border:2px solid #00c5d1;
		position:absolute;
		top:40%;
		left:49%;
}
div.move_right>a{
		color:#fff;
		position:absolute;
		top:60%;
		left:49%;
}
div.move_right1>img{
		width:100px;
		height:100px;
		position:absolute;
		left:60%;
		top:50%;
		transform: translatey(-50%);
}
div.move_right1>span{
		color:#fff;
		position:absolute;
		top:30%;
		left:69%;
		font-size:16px;
}
div.move_right1>div.line{
		display:inline-block;
		width:100px;
		border:2px solid #00c5d1;
		position:absolute;
		top:40%;
		left:69%;
}
div.move_right1>a{
		color:#fff;
		position:absolute;
		top:60%;
		left:69%;
}
#foot_box>div.foot_info{
		width:1295px;
		min-height:50px;
		background-color: black;
		color: #827d80;
		line-height:50px;
}
#foot_box>div.foot_info>ul>li{
		float:left;
		margin-right:20px;
}
#foot_box>div.foot_info b{
		border-left:2px solid #827d80;
		margin-right:15px;
}
.modal{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(55,55,55, 0.7);
		z-index: 999;
		display:none;
}

